<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "C:\Users\miche\Downloads\temp belex\belexGit\NewEntry\src\main\resources\log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE_APP"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="FILE_APP"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.base}/logs/BelexStockLog.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="15" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss,SSS} %-5p [%t] %c{1} - %m%n"/>
		</layout>
	</appender>
	
	<!-- c3p0 connection pool -->
	<category name="com.mchange">
		<priority value="WARN" />
	</category>

	<!-- Hibernate SQL queries and statistics -->
	<category name="org.hibernate.SQL">
		<priority value="DEBUG" />
	</category>
	<category name="org.hibernate.type.descriptor.sql.BasicBinder">
		<priority value="TRACE" />
	</category>
	<category name="org.hibernate.stat">
		<priority value="DEBUG" />
	</category>
	<category name="org.hibernate">
		<priority value="WARN" />
	</category>

	<!-- Spring WebFlow debugging -->
	<category name="org.springframework.webflow">
		<priority value="DEBUG" />
	</category>
	<category name="org.springframework.webflow.engine">
		<priority value="DEBUG" />
	</category>
	<category name="org.springframework.webflow.execution">
		<priority value="DEBUG" />
	</category>

	<!-- Spring binding and expression -->
	<category name="org.springframework.binding">
		<priority value="DEBUG" />
	</category>
	<category name="org.springframework.binding.expression">
		<priority value="DEBUG" />
	</category>

	<!-- Spring context and AOP -->
	<category name="org.springframework.context">
		<priority value="INFO" />
	</category>
	<category name="org.springframework.aop">
		<priority value="DEBUG" />
	</category>
	<category name="org.springframework.transaction">
		<priority value="DEBUG" />
	</category>
	<category name="org.springframework.orm.hibernate5">
		<priority value="DEBUG" />
	</category>

	<!-- Application DAOs and Services -->
	<category name="db">
		<priority value="DEBUG" />
	</category>
	<category name="org.belex">
		<priority value="DEBUG" />
	</category>

	<!-- Root logger -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE_APP" />
		<appender-ref ref="FILE_APP" />
	</root>
</log4j:configuration>